/* PÁGINA DE CATEGORIAS */
.pg-categorias{
    padding-top: 10px;
}
.pg-categorias .descricaoCategoria{
	text-align: center;
	color: var(--cinza-bordas);
	text-decoration: none;
	font-size: 17px;
	padding:  20px;
}
	.pg-categorias .descricaoCategoria img{
   		display: block;
   		width: 100%;
   		max-width: 100%;
   		height: auto;
		margin-bottom: 10px;
	}
	.col-sm-10 .row{
		padding: 0 20px;
	}
	.pg-categorias nav.menu-caminho{

	}
	.pg-categorias nav.menu-caminho .content-area{
		min-height: 0!important;

	}
		.pg-categorias nav.menu-caminho a{

		}
	.pg-categorias .paginador-filtro{
		display: flex;
		justify-content: flex-end;
		padding: 14px 0 0;
	}
	.pg-categorias ul.paginador{
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
		margin: 0;
	}
		.pg-categorias ul.paginador li{

		}
			.pg-categorias ul.paginador li a{
				display: block;
				padding: 6px 12px;
				color: var(--vermelho);
				text-decoration: none;
				border: 2px solid var(--vermelho);
				margin: 0 4px;
				border-radius: 3px;
				font-size: 15px;
				font-weight: 700;
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-categorias ul.paginador li a:hover{
				background-color: var(--vermelho);
				color: #fff;
			}
		.pg-categorias .paginador-filtro .filtro{
			flex-grow: 1;
			padding-left: 37px;
		}
			.pg-categorias .paginador-filtro .filtro select{
				font-size: 15px;
				font-weight: 700;
				color: var(--vermelho);
				border: 2px solid var(--vermelho);
				padding: 6px 0 6px;
				float: right;
				text-align: center;
				outline: none;
				border-radius: 3px;
				text-indent: 18%;
				-webkit-appearance: none;
				background-image: url(../img/d-red);
				background-size: 20px;
				background-repeat: no-repeat;
				background-position-y: center;
				background-position-x: 85%;
			}
	.pg-categorias .produto{
		padding: 20px;
		
	}
		.pg-categorias .produto h2.titulo{
			padding: 0;
			text-align: initial;
			text-transform: capitalize;
			font-size: 45px;
			padding-bottom: 15px;
			max-width: 100%;
		}
		.pg-categorias .produto ul.lista-produtos{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
			.pg-categorias .produto ul.lista-produtos li.item-produto{
				flex-grow: 1;
				margin-bottom: 10px;
				max-width: 285px;
			}
				.pg-categorias .produto ul.lista-produtos li.item-produto a.add-lista-desejos{

				}
				.pg-categorias .produto ul.lista-produtos li.item-produto a.imagem-produto{

				}
					.pg-categorias .produto ul.lista-produtos li.item-produto a.imagem-produto figure{
						height: 226px;
					}
						.pg-categorias .produto ul.lista-produtos li.item-produto a.imagem-produto figure img{
							max-width: 245px;
						}
				.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo{

				}
				.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto{

				}
					.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p{

					}
					.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.preco{
						
					}
					.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.parcela{
						
					}
				.pg-categorias .produto ul.lista-produtos li.item-produto input.button-comprar{

				}
		.pg-categorias .produto ul.paginador{
			justify-content: center;
			padding: 0 0 30px;
		}

/* MEDIA QUERY */
@media(max-width: 1400px){
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 275px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo {
		padding: 0;
	}
	.pg-categorias ul.paginador li a {
		font-size: 14px;
	}
	.pg-categorias .paginador-filtro .filtro select {
		font-size: 14px;
		text-indent: 13%;
		background-size: 14px;
		background-position-x: 90%;
	}
}

@media(max-width: 1200px){

}

@media(max-width: 1160px){
	.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo {
		margin: 0 auto;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 240px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.preco {
		font-size: 32px;
		padding-right: 4px;
	}
}

@media(max-width: 1100px){
	.pg-categorias .paginador-filtro .filtro {
		padding-left: 5px;
	}
}

@media(max-width: 1020px){
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 335px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo {
		margin: 0 auto;
	}
	.pg-categorias ul.paginador li a {
		font-size: 13px;
	}
	.pg-categorias .paginador-filtro .filtro select {
		font-size: 13px;
		text-indent: 9%;
		background-size: 12px;
		background-position-x: 92%;
	}
}

@media(max-width: 991px){
	.pg-categorias .paginador-filtro .filtro select {
		margin-right: 4px;
		margin-top: 10px;
		width: 58%;
	}
	.pg-categorias .paginador-filtro .filtro {
		text-align: right;
	}
	.pg-categorias .paginador-filtro {
		display: block;
		padding: 14px 0 0;
	}
}

@media(max-width: 785px){
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 255px;
	}
}

@media(max-width: 768px){
	.pg-categorias .produto ul.lista-produtos {
		justify-content: space-around;
	}
	.pg-categorias .paginador-filtro .filtro select {
		width: 95%;
		margin-right: 0;
		margin-top: 0;
	}
	.pg-categorias .paginador-filtro .filtro {
		text-align: right;
	}
	.pg-categorias ul.paginador {
		display: flex;
		flex-grow: 2;
		justify-content: flex-end;
		margin: 0;
	}
	.pg-categorias .paginador-filtro {
		display: flex;
		padding: 14px 0 0;
	}
	.pg-categorias .produto h2.titulo {
		font-size: 36px;
	}
}

@media(max-width: 550px){
	.pg-categorias .produto ul.lista-produtos li.item-produto input.button-comprar {
		font-size: 22px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.parcela {
		font-size: 14px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.preco {
		font-size: 28px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo {
		font-size: 18px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 195px;
		padding: 8px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto a.imagem-produto figure img {
		max-width: 145px;
	}
}

@media(max-width: 430px){
	.pg-categorias .produto ul.lista-produtos li.item-produto {
		max-width: 315px;
		padding: 24px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto a.imagem-produto figure img {
		max-width: 225px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto h3.titulo {
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.preco {
		font-size: 34px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto .preco-produto p.parcela {
		font-size: 16px;
	}
	.pg-categorias .produto ul.lista-produtos li.item-produto input.button-comprar {
		font-size: 24px;
	}
	.pg-categorias .paginador-filtro .filtro select {
		width: 65%;
		margin-top: 10px;
	}
	.pg-categorias .paginador-filtro .filtro {
		text-align: center;
	}
	.pg-categorias ul.paginador {
		display: flex;
		justify-content: center;
	}
	.pg-categorias .paginador-filtro {
		display: block;
	}
}