/* PÁGINA DE DÚVIDAS */
.pg-como-comprar{
	margin: 0 0 40px;
}
	.pg-como-comprar .como-comprar{

	}
		.pg-como-comprar .como-comprar h5.titulo{
			max-width: 100%;
			padding: 0;
			text-align: left;
			text-transform: capitalize;
			margin: 20px 0 0;
		}
		.pg-como-comprar .como-comprar ul{

		}
			.pg-como-comprar .como-comprar ul li{
				list-style-position: inside;
				list-style-type: decimal;
				font-size: 22px;
				color: var(--cinza-titulo-footer);
				margin: 18px 0;
			}

/* MEDIA QUERY */
@media(max-width: 450px){
	.pg-como-comprar .como-comprar ul li {
		font-size: 18px;
	}
}