/* PÁGINA INSTITUCIONAL */
.pg-institucional{

}
	.pg-institucional .institucional{

	}
		.pg-institucional .institucional h2.titulo{
			max-width: 100%;
			padding: 0;
			text-align: left;
			text-transform: initial;
			margin: 20px 0 0;
		}
		.pg-institucional .institucional .conteudo{
			color: var(--cinza-titulo-footer);
			margin: 0 0 40px;
		}
			.pg-institucional .institucional .conteudo h3{
				font-size: 26px;
				font-weight: 600;
			}
			.pg-institucional .institucional .conteudo p{
				font-size: 17px;
			}
			.pg-institucional .institucional .conteudo ul{

			}
				.pg-institucional .institucional .conteudo ul li{
					list-style-position: inside;
					list-style-type: disc;
					font-size: 17px;
				}
				.pg-institucional .institucional .conteudo ol li{
					list-style-position: inside;
					list-style-type: decimal;
					font-size: 22px;
					color: var(--cinza-titulo-footer);
					margin: 18px 0;
				}

/* MEDIA QUERY */
@media(max-width: 450px){
	.pg-institucional .institucional .conteudo p {
		font-size: 16px;
	}
	.pg-institucional .institucional .conteudo h3 {
		font-size: 20px;
	}
	.pg-institucional .institucional .conteudo ul li {
		font-size: 16px;
	}
}