/* PÁGINA QUEM SOMOS */
.pg-produto{

}
	.pg-produto .quem-somos{

	}
		.pg-produto .quem-somos nav.menu-caminho{

		}
			.pg-produto .quem-somos nav.menu-caminho a{

			}
		.pg-produto .quem-somos .contaudo-quem-somos{

		}
			.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos{
				background-image: url(../img/bannerquemsomos.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				height: 301px;
				margin: 85px 0 25px;
			}
				.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos h3.titulo{
					color: #df3339;
					text-transform: initial;
					font-size: 60px;
					max-width: 100%;
					text-align: left;
					padding: 84px 40px;
					text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5019607843137255);
				}
			.pg-produto .quem-somos .contaudo-quem-somos .texto-quem-somos{

			}
				.pg-produto .quem-somos .contaudo-quem-somos .texto-quem-somos p{
					color: var(--cinza-titulo-footer);
					font-size: 17px;
					margin: 0 0 30px;
				}
			.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens{

			}
				.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens h3.titulo{
					font-weight: 500;
					font-size: 45px;
				}
					.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens h3.titulo strong{
						font-weight: 800;
					}
				.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul{
					display: flex;
					flex-wrap: wrap;
					margin: 30px 0 80px;
				}
					.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li{
						display: flex;
						max-width: 50%;
						margin: 10px 0;
						padding: 0px 20px;
					}
						.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li figure.icon{
							width: 100%;
							max-width: 90px;
						}
							.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li figure.icon img{
								width: 100%;
							}
						.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li .texto-vantagem{
							color: var(--cinza-titulo-footer);
							padding-left: 10px;
						}
							.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li .texto-vantagem h6.titulo{
								max-width: 100%;
								font-size: 18px;
								padding: 0;
								text-align: left;
							}
							.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li .texto-vantagem p{

							}

/* MEDIA QUERY */
@media(max-width: 991px){
	.pg-produto .quem-somos .contaudo-quem-somos .texto-quem-somos p {
		font-size: 16px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos {
		height: 199px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos h3.titulo {
		font-size: 46px;
		padding: 49px 40px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens h3.titulo {
		font-size: 35px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li .texto-vantagem h6.titulo {
		max-width: 100%;
		font-size: 16px;
		padding: 0;
		text-align: left;
	}
}

@media(max-width: 600px){
	.pg-produto .quem-somos .contaudo-quem-somos .nossas-vantagens ul li {
		max-width: 100%;
		padding: 0 0;
	}
}

@media(max-width: 540px){
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos h3.titulo {
		font-size: 34px;
		padding: 34px 40px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos {
		height: 142px;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .texto-quem-somos p {
		font-size: 15px;
	}
}

@media(max-width: 400px){
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos h3.titulo {
		font-size: 34px;
		padding: 0 0px;
		text-align: center;
		text-shadow: none;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos h3.titulo br{
		display: none;
	}
	.pg-produto .quem-somos .contaudo-quem-somos .banner-titulo-quem-somos {
		height: initial;
		background: none;
		margin: 30px 0 15px;
	}
}