/*
Theme Name: amorsexshop-e-commerce

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
	display: none;
}

table.shop_table_responsive tbody th {
	display: none;
}

table.shop_table_responsive tr td {
	display: block;
	text-align: right;
	clear: both;
}

table.shop_table_responsive tr td:before {
	content: attr(data-title) ": ";
	float: left;
}

table.shop_table_responsive tr td.product-remove a {
	text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
	display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
	display: none;
}

table.shop_table_responsive tr td.download-actions .button {
	display: block;
	text-align: center;
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive thead {
		display: table-header-group;
	}
	table.shop_table_responsive tbody th {
		display: table-cell;
	}
	table.shop_table_responsive tr th, table.shop_table_responsive tr td {
		text-align: left;
	}
	table.shop_table_responsive tr td {
		display: table-cell;
	}
	table.shop_table_responsive tr td:before {
		display: none;
	}
}

/**
 * Products
 */
/**
 * Products
 */
ul.products {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

ul.products li.product {
	list-style: none;
	position: relative;
	margin-bottom: 2em;
}

ul.products li.product .woocommerce-loop-product__title {
	font-size: 1rem;
}

ul.products li.product img {
	display: block;
}

ul.products li.product .button {
	display: block;
}

@media screen and (min-width: 48em) {
	ul.products li.product {
		width: 30.7966666667%;
		float: left;
		margin-right: 3.8%;
	}
	ul.products li.product.first {
		clear: both;
	}
	ul.products li.product.last {
		margin-right: 0;
	}
	.columns-1 ul.products li.product {
		float: none;
		width: 100%;
	}
	.columns-2 ul.products li.product {
		width: 48.1%;
	}
	.columns-3 ul.products li.product {
		width: 30.7966666667%;
	}
	.columns-4 ul.products li.product {
		width: 22.15%;
	}
	.columns-5 ul.products li.product {
		width: 16.96%;
	}
	.columns-6 ul.products li.product {
		width: 13.4933333333%;
	}
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
	content: "";
	display: table;
	table-layout: fixed;
	position: relative;
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	top: 1em;
	right: 1em;
	display: block;
	z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
	margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	cursor: pointer;
	float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
	clear: both;
}

.stock:empty:before {
	display: none;
}

.stock.in-stock {
	color: #0f834d;
}

.stock.out-of-stock {
	color: #e2401c;
}

/**
 * Checkout
 */
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set .form-row-first {
		float: left;
		margin-right: 3.8%;
	}
	.col2-set .form-row-last {
		float: right;
		margin-right: 0;
	}
	.col2-set .form-row-first,
	.col2-set .form-row-last {
		width: 48.1%;
	}
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header-cart .cart-contents {
	text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
	display: none;
}

.site-header-cart .product_list_widget {
	margin: 0;
	padding: 0;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
}

.star-rating:before {
	content: "\53\53\53\53\53";
	opacity: .25;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.star-rating span:before {
	content: "\53\53\53\53\53";
	top: 0;
	position: absolute;
	left: 0;
	color: royalblue;
}

p.stars a {
	position: relative;
	height: 1em;
	width: 1em;
	text-indent: -999em;
	display: inline-block;
	text-decoration: none;
	margin-right: 1px;
	font-weight: 400;
}

p.stars a:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1;
	font-family: "star";
	content: "\53";
	color: #404040;
	text-indent: 0;
	opacity: .25;
}

p.stars a:hover ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars:hover a:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars.selected a:not(.active):before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	margin: 0;
	position: relative;
}

.woocommerce-tabs ul.tabs li a {
	padding: 1em 0;
	display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
	margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;
}

.woocommerce-password-strength.strong {
	color: #0f834d;
}

.woocommerce-password-strength.short {
	color: #e2401c;
}

.woocommerce-password-strength.bad {
	color: #e2401c;
}

.woocommerce-password-strength.good {
	color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
	box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
	box-shadow: inset 2px 0 0 #e2401c;
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	content: "";
	display: table;
	table-layout: fixed;
	background-color: #0f834d;
	clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: #3D9CD2;
}

.woocommerce-error {
	background-color: #e2401c;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: #3D9CD2;
	z-index: 9999;
}

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart .widget_shopping_cart {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999999;
		left: -999em;
		display: block;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	}
	.site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
		left: 0;
		display: block;
	}
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
	margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
	text-align: right;
	line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	cursor: ew-resize;
	outline: none;
	background: royalblue;
	box-sizing: border-box;
	margin-top: -.25em;
	opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: royalblue;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
}

header  .carrinhoMinicart{

          padding-right: 15px;

            position: relative;

        } 



        header  .carrinhoMinicart #mini-cart-loja{

			position: absolute;
			min-width: 300px;
			padding-bottom: 20px;
			left: -160px;
			background: #fff;
			padding: 0 10px;
			-webkit-box-shadow: 0 0px 5px 1px rgb(128, 128, 128);
			box-shadow: 0 0px 5px 1px rgb(128, 128, 128);
			padding-top: 10px;
			z-index: 9999;
			display: none;

        } 

        header  .carrinhoMinicart .woocommerce-mini-cart__empty-message{

          color:var(--vermelho);

          font-weight: 600;

          font-size: 15px;

          text-align: center;

          display: block;

        }

        header  .col-sm-6:hover #mini-cart-loja{

          display: block;

         }

          header  .carrinhoMinicart #mini-cart-loja ul{

            text-align: left;

            margin-bottom: 0;

            height: 245px;

            overflow-y: scroll;

          }

            header  .carrinhoMinicart #mini-cart-loja ul li{

              position: relative;

             

            }

              header  .carrinhoMinicart #mini-cart-loja ul li a{

                color:var(--vermelho);

                font-size: 11px;

                text-transform: uppercase;

                font-weight: 600;

                height: initial;

                padding: 0;

              }

              header  .carrinhoMinicart #mini-cart-loja ul li .remove.remove_from_cart_button{

                background: red;

                color: #fff!important;

                display: inline;

                padding: 0px 6px;

                border-radius: 100%;

                font-size: 23px;

                width: 25px;

                height: 25px;

                position: absolute;

                right: 15px;

                top: 17px;

                line-height: 25px;

              }

                header  .carrinhoMinicart #mini-cart-loja ul li a img{

                  display: inline-block;

                  max-width: 73px;

                  width: 100%;

                  height: auto;

                  float: initial;

                }

                 header  .carrinhoMinicart #mini-cart-loja ul li .quantity{

                  color:var(--vermelho);

                  font-weight: bold;

                  text-align: right;

                  display: block;

                   border-bottom: solid 1px var(--vermelho);

                } 

                header  .carrinhoMinicart #mini-cart-loja ul li .woocommerce-Price-amount.amount{

            

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__total.total{

                  padding-top: 10px;

                }

                header  .carrinhoMinicart #mini-cart-loja p{

                  margin:0;

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__total.total strong{

                  color:var(--vermelho);

                  font-weight: 100;

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__total.total span{

                  color:var(--vermelho);

                  font-weight: 600;

                  font-size: 15px;

                }  

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__buttons.buttons {

                  color:var(--vermelho);

                  text-align: right;

                  margin-top: 10px;

                  padding-bottom: 15px;

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__buttons.buttons a{

                  color:var(--vermelho);

                  font-size: 14px;

                  margin: 0;

                  padding: 0 0;

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__buttons.buttons a.button.wc-forward{

                  background:var(--vermelho);

                  color: #fff;

                  display: inline;

                  padding: 7px 10px;

                  border-radius: 5px;

                  font-weight: 600;

                  margin: 0 2px;

                }

                header  .carrinhoMinicart #mini-cart-loja .woocommerce-mini-cart__buttons.buttons a.button.checkout.wc-forward{

                  background: #4CAF50;

                  color: #fff;

                  display: inline;

                  padding: 7px 10px;

                  border-radius: 5px;

                  font-weight: 600;

                }

          header  .carrinhoMinicart .icon-carrinho{

            padding: 0;

            margin: 0;

            background-color: transparent;



          }

          header  .carrinhoMinicart .icon-carrinho small{

            position: absolute;

            z-index: 99999;

            display: block;

            color:var(--vermelho);

            background: #ffffff;

            border: solid 2px var(--vermelho);

            font-weight: 700;

            border-radius: 100%;

            font-size: 14px;

            width: 19px;

            height: 19px;

            text-align: center;

            line-height: 17px;

            top: -4px;

            right: 4px;

          }
          .woocommerce-account .content-area{
			min-height: 600px;
			max-width: 1200px;
			margin: 0 auto;
          }
          .woocommerce-cart .content-area{
			min-height: 600px;
			max-width: 1200px;
			margin: 0 auto;
          } 
          .woocommerce-checkout .content-area{
			min-height: 600px;
			max-width: 1200px;
			margin: 0 auto;
          }
         
          .entry-header h1{
          	padding-top:100px;
			position: relative;
			text-align: left;
			font-size: 43px;
			text-transform: uppercase;
			font-weight: 800;
			margin: 0 auto;
			
          }
          .entry-header{
			background: transparent;
			text-align: left;
          }
          .woocommerce form .form-row-first, .woocommerce-page form .form-row-first{
          	float: initial;
          }
          .woocommerce form .form-row-last, .woocommerce-page form .form-row-last{
          	float: initial;
          }
          .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
          	width: 100%;
          }
          .page-template-paginaslistadedesejos-php .woocommerce .wishlist_table td.product-add-to-cart a{
      	    font-size: 17px;
      	        margin: 0 auto;
          }
          .wishlist_table tr td.product-stock-status span.wishlist-in-stock {
		    color: #297E29;
		    font-size: 14px;
		    font-weight: 600;
		}
		.woocommerce-Price-amount.amount {
			
		    font-size: 14px;
		    font-weight: 600;
		}
		.woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td{

		    font-size: 14px;
		    font-weight: 600;
		}
		.woocommerce .wishlist-title h2{
			padding-top: 100px;
			position: relative;
			text-align: left;
			font-size:25px;
			text-transform: uppercase;
			font-weight: 800;
			margin: 0 auto;
		}
		.woocommerce-account .woocommerce nav ul li{
			background: #3D9CD2;
		}
		.woocommerce-MyAccount-content a{
				background: #3D9CD2;
		}
		.widget.woocommerce h2{
		    font-size: 25px;
		}
		.sidebar{
		    max-width: 270px;
		}
		.widget.woocommerce.widget_product_categories .product-categories .cat-item.cat-parent>a{
			font-weight: bold;
		}

		.woocommerce-info, .woocommerce-noreviews, p.no-comments{
			background-color: #3D9CD2;
			padding: 20px;
			color: #fff;
		}
		.comentariosProduto{
			padding: 20px;
		}
		.woocommerce-Reviews-title{
			max-width: 100%;
			text-align: initial;
			padding: 0;
			text-transform: initial;
			border-bottom: 4px solid #000;
			padding-bottom: 8px;
			margin-bottom: 15px;
		}
		 #review_form_wrapper{
			border: solid 1px #ccc;
			padding: 20px;
			border-radius: 5px;
		}
		 .woocommerce #review_form #respond textarea{
			outline: none;
			border: solid 1px #ccc;
			border-radius: 5px;
		}
		 .woocommerce p.stars a{
		    font-size: 30px;
		}
		.comentariosProduto input[type="text"]{
			display: block;
			height: 40px;
			border-radius: 5px;
			border: solid 1px #ccc;
		}
		.comentariosProduto input[type="email"]{
		        display: block;
				height: 40px;
				border-radius: 5px;
				border: solid 1px #ccc;
		}
		.single-product .variations select{
			border: solid 1px;
			padding: 10px;
			border-color: #e5343a;
			border-radius: 5px;
			display: block;
			width: 100%;
			margin-bottom: 5px;
		}
		.single-product .label label{
			display: inline;
			padding:0;
			font-size: 18px;
			font-weight: bold;
			line-height: 1;
			color: #e5343a;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
		}
		.single_variation_wrap .quantity .screen-reader-text {
		    clip: initial!important;
		    height: initial!important;
		    overflow: initial!important;
		    position: initial!important;
		    width: 1px;
		    display: inline;
		    padding: .2em .6em .3em;
		    font-size: 18px;
		    font-weight: bold;
		    line-height: 1;
		    color: #e5343a;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: baseline;
		    border-radius: .25em;
		}

		.woocommerce .quantity .qty {
		    width: 3.631em;
		    text-align: center;
		    border: solid 1px;
		    padding: 10px;
		    border-color: #e5343a;
		    border-radius: 5px;
		    display: inline-block;
		    width: 100%;
		    margin-bottom: 5px;
		    max-width: 59px;
		}